<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      {{#link-to 'index' class="navbar-brand"}}Home{{/link-to}}

      {{#if session.isAuthenticated}}
        <button {{action 'logout'}} class="btn btn-default btn-sm navbar-btn pull-right">User name</button>
      {{else}}
        <button {{action 'login'}} class="btn btn-success btn-sm navbar-btn pull-right">Login</button>
      {{/if}}
    </div>

  </div>
</nav>
