/* prevent iphone from zooming in when filling out a form, like login or application */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  select,
  textarea,
  input,
  input:focus,
  input:hover {
    font-size: 16px !important;
  }
}

/**
 * Custom styling
 */
body {
  padding-top: 60px;
  padding-bottom: 20px;
}

.navbar-header > .pull-right {
  margin-right: 5px;
}

.flash-container {
  position: fixed;
  z-index: 1000;
  width: 100%;
}

/* btn btn-<type> btn-xs btn-vert */
.btn-vert {
  font-size: 22px;
  line-height: 36px;
  width: 98%;
}

@media (max-width: 435px) {
  /* nav-bar */
  body {
    padding-top: 35px;
  }

  .navbar {
    min-height: 30px;
  }

  .navbar-brand {
    padding-top: 5px;
    padding-left: 10px;
    font-size: 15px;
    height: 30px;
  }

  .navbar-btn.btn-sm {
    margin-top: 0;
    margin-bottom: 0;
  }

  /* list-group (user-accounts) */
  .list-group-item.u-condensed {
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .col-xs-1, .col-xs-10, .col-xs-11,
  .col-xs-12, .col-xs-2, .col-xs-3,
  .col-xs-4, .col-xs-5, .col-xs-6,
  .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 5px;
    padding-left: 5px;
  }

  .u-no-lr-padding {
    padding-left: 0;
    padding-right: 0;
  }
}
