/* prevent iphone from zooming in when filling out a form, like login or application */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  select,
  textarea,
  input,
  input:focus,
  input:hover {
    font-size: 16px !important;
  }
}

/**
 * Custom styling
 */
body {
  padding-top: 60px;
}

.navbar-header > .pull-right {
  margin-right: 5px;
}

@media (max-width: 435px) {
  /* nav-bar */
  body {
    padding-top: 35px;
  }

  .navbar {
    min-height: 30px;
  }

  .navbar-brand {
    padding-top: 5px;
    padding-left: 10px;
    font-size: 15px;
    height: 30px;
  }

  .navbar-btn.btn-sm {
    margin-top: 0;
    margin-bottom: 0;
  }

  /* list-group (user-accounts) */
  .list-group-item.u-condensed {
    padding: 2px 8px;
  }
}
