<div class="list-group">
  {{#each model as |group|}}
    {{#link-to 'login.users' group.id class="list-group-item list-group-item-info"}}{{group.name}}{{/link-to}}
  {{else}}
    <div class="alert alert-danger">There are no users.</div>
  {{/each}}
</div>
