<div class="list-group">
  {{#link-to 'login' class="list-group-item list-group-item-info"}}{{model.name}}{{/link-to}}

  {{#each model.users as |user|}}
    {{#link-to 'login.users.auth' user class="list-group-item list-group-item-info"}}{{user.name}}{{/link-to}}
  {{/each}}
</div>
