<div class="btn-group btn-group-justified">
  {{#link-to 'settled-accounts' class="btn btn-default"}}Settled accounts{{/link-to}}
  {{#link-to 'user-accounts' class="btn btn-default"}}Edit users{{/link-to}}
</div>
<br>
<div class="btn-group btn-group-justified">
  {{#link-to 'login' class="btn btn-default"}}Login{{/link-to}}
  {{#link-to 'index' class="btn btn-default"}}Home{{/link-to}}
</div>
