<div class="page-header">Navigation page</div>

<ul class="nav navbar-nav navbar-left">
  {{#link-to 'index' tagName='li'}}
    <a href>Home</a>
  {{/link-to}}
  {{#link-to 'user-accounts' tagName='li'}}
    <a href>Users</a>
  {{/link-to}}
  {{!-- {{#link-to 'users.new' tagName='li'}}
    <a href>new</a>
  {{/link-to}} --}}
</ul>
