<div class="btn-group btn-group-justified">
  {{#link-to 'user-groups' class="btn btn-default"}}Edit groups{{/link-to}}
  {{#link-to 'user-accounts' class="btn btn-default"}}Edit users{{/link-to}}
</div>
<br>
<div class="btn-group btn-group-justified">
  {{#link-to 'settled-accounts' class="btn btn-default"}}Settled accounts{{/link-to}}
  {{#link-to 'login' class="btn btn-default"}}Login{{/link-to}}
</div>
